<h1>{{ title }}</h1>

<form [formGroup]="form">
  <mat-form-field style="width: 100%;">
    <input type="text" placeholder="Name" required matInput formControlName="name">
    <mat-error *ngIf="!form.get('name').valid">{{ getRequiredErrorMessage('name') }}</mat-error>
  </mat-form-field>
    
  <mat-form-field style="width: 100%;">
    <input type="text" placeholder="Connection String" required matInput formControlName="connectionString">
    <mat-error *ngIf="!form.get('connectionString').valid">{{ getRequiredErrorMessage('connectionString') }}</mat-error>
  </mat-form-field>
  
  <mat-checkbox matInput formControlName="importTables">Import tables</mat-checkbox>
  <br/>
  <mat-checkbox matInput formControlName="importViews">Import views</mat-checkbox>
</form>

<br/>

<button type="button" mat-raised-button color="primary" [disabled]="!form.valid" (click)="import()">
  Import
</button>

<br/>
<br/>

<mat-progress-bar mode="indeterminate" *ngIf="importing"></mat-progress-bar>
