<h1>{{ title }}</h1>

<mat-card>
  <span>
    Description: <strong>{{ response?.model?.description }}</strong>
    <i class="material-icons" (click)="editViewDescription()">edit</i>
  </span>
</mat-card>

<h2>Columns ({{ response?.model?.columns.length }})</h2>

<table mat-table [dataSource]="response?.model?.columns">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>Type</th>
    <td mat-cell *matCellDef="let element">{{ element.type }}</td>
  </ng-container>

  <ng-container matColumnDef="computed">
    <th mat-header-cell *matHeaderCellDef>Computed</th>
    <td mat-cell *matCellDef="let element">{{ element.computed }}</td>
  </ng-container>

  <ng-container matColumnDef="length">
    <th mat-header-cell *matHeaderCellDef>Length</th>
    <td mat-cell *matCellDef="let element">{{ element.length }}</td>
  </ng-container>

  <ng-container matColumnDef="prec">
    <th mat-header-cell *matHeaderCellDef>Prec</th>
    <td mat-cell *matCellDef="let element">{{ element.prec }}</td>
  </ng-container>

  <ng-container matColumnDef="scale">
    <th mat-header-cell *matHeaderCellDef>Scale</th>
    <td mat-cell *matCellDef="let element">{{ element.scale }}</td>
  </ng-container>

  <ng-container matColumnDef="nullable">
    <th mat-header-cell *matHeaderCellDef>Nullable</th>
    <td mat-cell *matCellDef="let element">{{ element.nullable }}</td>
  </ng-container>

  <ng-container matColumnDef="collation">
    <th mat-header-cell *matHeaderCellDef>Collation</th>
    <td mat-cell *matCellDef="let element">{{ element.collation }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsForColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsForColumns;" class="element-row"></tr>
</table>

<br>

<h2>Description for Columns ({{ response?.model?.columns.length }})</h2>

<table mat-table [dataSource]="response?.model?.columns">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell *matCellDef="let element">{{ element.name }}</td>
  </ng-container>

  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef>Description</th>
    <td mat-cell *matCellDef="let element">
      <i class="material-icons" (click)="editColumnDescription(element)">edit</i>
      {{ element.description }}
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsForDescriptions"></tr>
  <tr mat-row *matRowDef="let row; columns: columnsForDescriptions;" class="element-row"></tr>
</table>

<h2>Identity</h2>

<mat-card *ngIf="response?.model?.identity == null">
  <i class="material-icons">warning</i>
  <strong>There is not identity definition for this view!</strong>
</mat-card>

<mat-card *ngIf="response?.model?.identity != null">
  Column: <strong>{{ response?.model?.identity?.name }}</strong>
  , Seed: <strong>{{ response?.model?.identity?.seed }}</strong>
  , Increment: <strong>{{ response?.model?.identity?.increment }}</strong>
</mat-card>

<h2>Row Guid Column</h2>

<mat-card *ngIf="rowGuidColumn == null">
  <span><i class="material-icons">warning</i> There isn't row guid column definition for this table!</span>
</mat-card>

<mat-card *ngIf="rowGuidColumn != null">
  Column: <strong>{{ rowGuidColumn.name }}</strong>
</mat-card>

<br>

<i class="material-icons" (click)="back()">arrow_back_ios</i>
