nav a {
    background-color: #eee;
    border-radius: 10px;
    display: inline-block;
    padding: 10px 10px 10px 10px;
    margin: 5px 5px 5px 5px;
    text-decoration: none;
}

nav a:visited, a:link {
    color: #607d8b;
}

nav a:hover {
    background-color: #cfd8dc;
    color: #039be5;
}

nav a.active {
    color: #039be5;
}
