<h1>Database Details</h1>

<mat-spinner *ngIf="loading"></mat-spinner>

<div class="details-div">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{ response?.model?.name }}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <span>Dbms: <strong>{{ response?.model?.dbms }}</strong></span>
            <br>
            <span>Description: <strong>{{ response?.model?.description }}</strong></span>
            <button mat-icon-button (click)="editDescription()" aria-label="Edit description">
                <mat-icon>edit</mat-icon>
            </button>
        </mat-card-content>
    </mat-card>
</div>

<br>

<h2>Tables ({{ response?.model?.tables?.length }})</h2>
<mat-divider></mat-divider>

<mat-list>
    <mat-list-item *ngFor="let item of response?.model?.tables">
        <mat-icon matListItemIcon>table</mat-icon>
        <h3 matListItemTitle (click)="tableDetails(item)">{{ item.fullName }}</h3>
        <span matListItemLine>Columns: {{ item.columnsCount }}</span>
        <span matListItemLine>Primary key: <strong>{{ item.primaryKey }}</strong></span>
        <span matListItemLine>Identity: <strong>{{ item.identity }}</strong></span>
        <span>Description: <strong>{{ item.description }}</strong></span>
        <hr>
    </mat-list-item>
</mat-list>

<h2>Views ({{ response?.model?.views?.length }})</h2>
<mat-divider></mat-divider>

<mat-list>
    <mat-list-item *ngFor="let item of response?.model?.views">
        <mat-icon matListItemIcon>table_view</mat-icon>
        <h3 matListItemTitle (click)="viewDetails(item)">{{ item.fullName }}</h3>
        <span matListItemLine>Columns: {{ item.columnsCount }}</span>
        <span matListItemLine>Identity: <strong>{{ item.identity }}</strong></span>
        <span>Description: <strong>{{ item.description }}</strong></span>
        <hr>
    </mat-list-item>
</mat-list>

<h2>Database Type Maps ({{ response?.model?.databaseTypeMaps?.length }})</h2>
<mat-divider></mat-divider>

<div class="mat-elevation-z8">
    <table mat-table [dataSource]="databaseTypeMapsDataSource" class="full-width-table" aria-label="Database Type Maps">
        <!-- DatabaseType Column -->
        <ng-container matColumnDef="databaseType">
            <th mat-header-cell *matHeaderCellDef>Database Type</th>
            <td mat-cell *matCellDef="let row">{{row.databaseType}}</td>
        </ng-container>

        <!-- AllowsLengthInDeclaration Column -->
        <ng-container matColumnDef="allowsLengthInDeclaration">
            <th mat-header-cell *matHeaderCellDef>Allows Length In Declaration</th>
            <td mat-cell *matCellDef="let row">{{row.allowsLengthInDeclaration ? 'Yes' : 'No'}}</td>
        </ng-container>

        <!-- ClrFullNameType Column -->
        <ng-container matColumnDef="clrFullNameType">
            <th mat-header-cell *matHeaderCellDef>CLR Full Name Type</th>
            <td mat-cell *matCellDef="let row">{{row.clrFullNameType}}</td>
        </ng-container>

        <!-- ClrAliasType Column -->
        <ng-container matColumnDef="clrAliasType">
            <th mat-header-cell *matHeaderCellDef>CLR Alias Type</th>
            <td mat-cell *matCellDef="let row">{{row.clrAliasType}}</td>
        </ng-container>

        <!-- IsUserDefined Column -->
        <ng-container matColumnDef="isUserDefined">
            <th mat-header-cell *matHeaderCellDef>Is User Defined</th>
            <td mat-cell *matCellDef="let row">{{row.isUserDefined}}</td>
        </ng-container>

        <!-- ParentDatabaseType Column -->
        <ng-container matColumnDef="parentDatabaseType">
            <th mat-header-cell *matHeaderCellDef>Parent Database Type</th>
            <td mat-cell *matCellDef="let row">{{row.parentDatabaseType}}</td>
        </ng-container>

        <!-- Collation Column -->
        <ng-container matColumnDef="collation">
            <th mat-header-cell *matHeaderCellDef>Collation</th>
            <td mat-cell *matCellDef="let row">{{row.collation}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="databaseTypeMapColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: databaseTypeMapColumns;"></tr>
    </table>
</div>
