<h1>Database Details</h1>

<mat-spinner *ngIf="loading"></mat-spinner>

<mat-card>
    <mat-card-header>
        <mat-card-title>{{ response?.model?.name }}</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <p>
            <span>Dbms: <strong>{{ response?.model?.dbms }}</strong></span>
        </p>
        <p>
            <span>Description: <strong>{{ response?.model?.description }}</strong></span>
        </p>
    </mat-card-content>
</mat-card>
<br>

<h2>Tables ({{ response?.model?.tables?.length }})</h2>
<mat-divider></mat-divider>

<mat-list>
    <mat-list-item *ngFor="let item of response?.model?.tables">
        <mat-icon matListItemIcon>table</mat-icon>
        <h3 matListItemTitle (click)="tableDetails(item)">{{ item.fullName }}</h3>
        <span matListItemLine>Columns: {{ item.columnsCount }}</span>
        <span matListItemLine>Primary key: <strong>{{ item.primaryKey }}</strong></span>
        <span matListItemLine>Identity: <strong>{{ item.identity }}</strong></span>
        <span>Description: <strong>{{ item.description }}</strong></span>
        <hr>
    </mat-list-item>
</mat-list>

<h2>Views ({{ response?.model?.views?.length }})</h2>
<mat-divider></mat-divider>

<mat-list>
    <mat-list-item *ngFor="let item of response?.model?.views">
        <mat-icon matListItemIcon>table_view</mat-icon>
        <h3 matListItemTitle (click)="viewDetails(item)">{{ item.fullName }}</h3>
        <span matListItemLine>Columns: {{ item.columnsCount }}</span>
        <span matListItemLine>Identity: <strong>{{ item.identity }}</strong></span>
        <span>Description: <strong>{{ item.description }}</strong></span>
        <hr>
    </mat-list-item>
</mat-list>

<h2>Database Type Maps ({{ response?.model?.databaseTypeMaps?.length }})</h2>
<mat-divider></mat-divider>

<table class="databaseTypeMaps">
    <thead>
        <tr>
            <th>Database Type</th>
            <th>Allows Length In Declaration</th>
            <th>Clr Full Name Type</th>
            <th>Clr Alias Type</th>
            <th>Is User Defined</th>
            <th>Parent Database Type</th>
            <th>Collation</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of response?.model?.databaseTypeMaps">
            <td>{{ item.databaseType }}</td>
            <td>{{ item.allowsLengthInDeclaration }}</td>
            <td>{{ item.clrFullNameType }}</td>
            <td>{{ item.clrAliasType }}</td>
            <td>{{ item.isUserDefined }}</td>
            <td>{{ item.parentDatabaseType }}</td>
            <td>{{ item.collation }}</td>
        </tr>
    </tbody>
</table>

<br>