<!-- <h1 mat-dialog-title>{{ data.title }}</h1>

<div mat-dialog-content>
    <i class="material-icons">question</i> Do you want to continue?
</div>

<div mat-dialog-actions>
    <button type="button" mat-button color="accent" (click)="onNo()">No</button>
    <button type="button" mat-button color="primary" (click)="onYes()">Yes</button>
</div> -->

<h1 mat-dialog-title>Do you want to continue?</h1>
<div mat-dialog-content>
    <p>{{ data.message }}</p>
</div>
<div mat-dialog-actions>
    <button type="button" mat-button [mat-dialog-close]="false" cdkFocusInitial>No</button>
    <button type="button" mat-raised-button [mat-dialog-close]="true" color="primary">Yes</button>
</div>
